// Color Variables
$red:   #f10e24;
$blue:  #0e0ef1;
$green: #2f9a00;
$light-grey : #555;
$off-white : #F1F1F1;
$white : #FFFFFF; 
$gray : #808080;
$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

